

.searchbar {
  position: sticky;
  display: inline-block;
  vertical-align: top;
  max-height: 100vh;
  overflow-y: auto;
  width: 200px;
  top: 0;
  bottom: 0;
  padding: 30px;
}

// .columns-modal {
//   margin-top: 50px;
// }

// .modal-content {
//   margin-top: 100px;
//   width: 450px;
// }





.paddingless {
  padding: 0px 0px 0px 0px;
}

.content {
  display: inline-block;
}

.section {
  min-height: calc(100vh - 11.25rem);
}


.form {
  margin-top: 20vh;
}

.map-container {
  height: 400px;
  }



  .mapButton {
    background: none;
    cursor: arrow;
    border: none;
  }


  .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
    }

button.mapboxgl-popup-close-button {
    display: none,
  }

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10vh;
  margin-left: 10vh;

}

// .index-card {

//   height: 30%;
//   display: flex;
//   flex-direction: column;
//   padding: 10px;
//   margin-top: 6vh;

// }

.searchbar {
  position: sticky;
  display: inline-block;
}




.about {
  text-align: left;
  font-size: 30px;
}

.home-background {
  background-image: url('https://imgur.com/CnylXLj.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

.title {
  padding: 6px;
}

.about-background {
  background-image: url('https://imgur.com/vMah3K6.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.error-background {
  background-image:url('https://imgur.com/z6KGlzV.png')
}

.all-memories-background {
  background-image: url('https://imgur.com/1jx3Zyr.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// .memory-map-background {
//   background-image: url('https://imgur.com/TUTvUli.png');
// }

.new-memory-background {
  background-image: url('https://imgur.com/evNO5MR.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.description {
  border: 1px solid white;
}

.card {
  border: 4px solid #38328a ;
}

.single-memory-background {
  background-image:url('https://imgur.com/283w7JC.png');
}

// .register-background {
//   background-image:url('https://imgur.com/DCugnIH.png')
// }

// .login-background {
//   background-image: url('https://imgur.com/JbqMTzr.png');
//   background-size: cover;
//   // background-repeat: no-repeat;
//   // background-position: center;

// }

$pink: #ffb3b3;
$blue: #6D63FF;
$darkerblue: #38328a;
$info: $blue;
$info-dark: $darkerblue;

$blue-invert: rgb(57, 57, 57);

$primary: $blue;
$primary-invert:rgb(57, 57, 57);



@import '~bulma/bulma.sass';